/* Typselektor */
p{
    font-family: Dosis, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

/* Klassenselektor */
.my-class{
    color: red;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

/* ID-Selektor */
#my-first-id{
    text-decoration: underline;
}

/* ------------------------------------------------------------ */

.demo-div{
    background-color: chartreuse;
    height: 150px;
    width: 300px;
    text-align: center;

    /* 
    border-width: 3px;
    border-style: solid;
    border-color: aquamarine; 
    */

    /* shorthand property (Kurzschreibweise) */
    border: 3px solid midnightblue;

}